.card__title{
    color: #FFF;
    font-family: Unbounded;
    font-size: clamp(1.5rem, 1.254rem + 0.829vw, 2rem);
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 120% */
    text-transform: uppercase;
    letter-spacing: -0.4px;
    margin-block-end: 20px;
}

