.card__img{
    max-block-size: 492px;
    inline-size: 100%;
    object-fit: cover;
    border-radius:  40px 40px 0 0;
    transition: border-radius .3s linear;

}   

@media (width >= 1024px){
    .card__img{
        border-radius: 40px 0 0 40px;
        block-size: 100%;
    }
}