.card__img{
    border-radius: 40px 40px 0 0;
    inline-size: 100%;
    object-fit: cover;
    transition: border-radius .3s linear;
    aspect-ratio: 1.5;
    vertical-align: bottom;
}   

@media (width >= 1024px){
    .card__img{
        block-size: 100%;
        border-radius: 40px 0 0 40px;
        /* aspect-ratio: 1.5; */
    }
}
