.card__description-wrapper{
    border-radius: 0px 0px 40px 40px;
    grid-column: span 2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s, background-color .5s linear;
    background-color: transparent;
}